.item img {
  width: 150px; }

.product-container {
  display: flex;
  width: 253.44px;
  flex-direction: column; }
  .product-container .title-block {
    height: 30px;
    margin-top: 10px;
    width: 230.4px;
    display: flex;
    margin-left: 10px;
    align-items: center; }
  .product-container .title {
    font-family: Lora-Medium;
    margin-left: 10px;
    color: #379b87;
    font-size: 1.1rem; }
  .product-container .image img {
    display: flex;
    width: 24px; }
  .product-container ul {
    margin-top: 10px;
    padding-left: 15px;
    padding-bottom: 6px; }
  .product-container ul li {
    font-size: 0.8rem;
    padding-bottom: 6px;
    padding-left: 10px; }
  .product-container .product-images {
    margin-top: 35px;
    display: flex; }
