<div class="rating-block">
                <p>{{ product }}</p>
                 <table>
                     <tr>
                         <td class="no-padding-left"><div class="face"><img class="check {{ 'active' if rating == 1 else '' }}" src="../../images/check.png"><div class="dot face1"></div><img src="../../images/faces/1.png"></div></td>
                         <td><div class="face"><img class="check  {{ 'active' if rating == 2 else '' }}" src="../../images/check.png"><div class="dot face2"></div><img src="../../images/faces/2.png"></div></td>
                         <td><div class="face"><img class="check  {{ 'active' if rating == 3 else '' }}" src="../../images/check.png"><div class="dot face3"></div><img src="../../images/faces/3.png"></div></td>
                         <td><div class="face"><img class="check  {{ 'active' if rating == 4 else '' }}" src="../../images/check.png"><div class="dot face4"></div><img src="../../images/faces/4.png"></div></td>
                         <td><div class="face"><img class="check  {{ 'active' if rating == 5 else '' }}" src="../../images/check.png"><div class="dot face5"></div><img src="../../images/faces/5.png"></div></td>
                         <td><div class="face"><img class="check  {{ 'active' if rating == 6 else '' }}" src="../../images/check.png"><div class="dot face6"></div><img src="../../images/faces/6.png"></div></td>
                         <td><div class="face"><img class="check  {{ 'active' if rating == 7 else '' }}" src="../../images/check.png"><div class="dot face7"></div><img src="../../images/faces/7.png"></div></td>
                         <td><div class="face"><img class="check  {{ 'active' if rating == 8 else '' }}" src="../../images/check.png"><div class="dot face8"></div><img src="../../images/faces/8.png"></div></td>
                         <td><div class="face"><div class="dot face9"></div><img src="../../images/faces/9.png"></div></td>
                         <td><div class="face"><div class="dot face10"></div><img src="../../images/faces/9.png"></div></td>
                     </tr>
                 </table>
</div>