<div class="main {{ 'margin-left-10px' if position == 'right' else '' }}">
             <div class="table-title">
                 <div class="col-12">{{ product }}</div>
             </div>
             <div class="table-subtitle">
                 <div class="col-12">Rapid Relaxation, Soothe Worries, Tension Relief*</div>
             </div>
             <div class="table">
             <div class="table-row">
                 <div style="font-size: 0.8rem; font-weight: 600" class="col-8">Supplement Facts</div>
             </div>
             <div class="table-row" class="border-bottom-3px">
                 <div class="col-6">Serivng Size: 2 Softgels</div>
                 <div class="col-6">Serivng Per Container: 30</div>
             </div>
             <div class="table-row border-bottom-2px">
                 <div class="col-5">&nbsp;</div>
                 <div class="col-5">Amount Per Serving</div>
                 <div class="col-2">%DV</div>
             </div>
              <div class="table-row border-bottom-1px no-header-row-color">
                 <div class="col-5">Calories</div>
                 <div class="col-5">30</div>
                 <div class="col-2">*</div>
             </div>
             <div class="table-row no-header-row-color">
                 <div class="col-5">Total Fat</div>
                 <div class="col-5">1g</div>
                 <div class="col-2">**</div>
             </div>
             <div class="table-row border-bottom-1px no-header-row-color">
                 <div class="col-5">Saturated Fat</div>
                 <div class="col-5">1g</div>
                 <div class="col-2">**</div>
             </div>
             <div class="table-row border-bottom-1px">
                 <div class="col-5">CBD (Full Spectrum)</div>
                 <div class="col-5">30mg</div>
                 <div class="col-2">&uarr;</div>
             </div>
             <div class="table-row border-bottom-1px">
                 <div class="col-5">CBG</div>
                 <div class="col-5">10mg</div>
                 <div class="col-2">&uarr;</div>
             </div>
             <div class="table-row border-bottom-1px">
                 <div class="col-5">SLEEP BLEND (Patent Pending)</div>
                 <div class="col-5">596mg</div>
                 <div class="col-2">&uarr;</div>
             </div>
             <div class="table-row no-header-row-color">
                 <div class="col-5">Passionflowe, Skullcap, Bugleweed, Lavender, Kava, Black Pepper</div>
                 <div class="col-5">&nbsp;</div>
                 <div class="col-2">&nbsp;</div>
             </div>
             </div>
</div>